{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off"
  },
  "plugins": [
    "react",
    "import",
    "security"
  ]
}
